body {
	font-family: 'Nunito', sans-serif;
	color: rgb(255, 255, 255);
	background-color: black;
}

h1 {
	text-align: right;
	margin-right: 15px;
	color: rgb(182, 193, 224);
}

h2 {
	margin-left: 5%;
	color: rgb(182, 193, 224);
}

#border {
	width: 100%;
	height: 1px;
	background: rgb(127, 127, 127);
}

button {
	background: none;
	border: none;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	color: rgb(255, 255, 255);
	font-size: 16px;
}

table {
	border-collapse: collapse;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

td {
	padding-left: 10px;
}

.upStock {
	background: rgb(176, 86, 108);
}

.downStock {
	background: rgb(114, 142, 115);
}