body {
  background-color: black;
/*   font-family: Optima, sans-serif; */
  font-family: 'Nunito', sans-serif;
  
/*   font-variant: small-caps; */
/*   font-family: "HKGrotesk-Regular","Helvetica Neue",Helvetica,Arial,sans-serif; */
}
#navBar {
	padding: 4px 20px;
/* 	height: 30px; */
	width: 100%;
	background-color: #a8a8a8;
	text-align: center;

}
#header {
	padding: 8px 20px;
/* 	background-color: white; */
    width: 100%;
}
span.a {
	display: inline-block;
}
span.b {
	display: inline-block;
	float: right;
	margin-right: 120px;
	margin-top: 30px;
}
span.c {
	display: inline-block;
	float: right;
	margin-right: 30px;
	margin-top: 30px;
}
#formDiv {
	width: 550px;
	color: white;
	text-align: center;
	margin: auto;
}
h1 {
	font-size: 35px;
}
h2 {
	font-size: 17px;
	text-align: left;
	color: white;
}
h3 {
	text-align: center;
	font-size: 25px;
	color: #94A5D1;
}
input[type=text] {
	padding: 15px;
	width: 90%;
	border-radius: 5px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	background-color: white;

}
input[type=text]:focus {
	background-color: #D4DBEB;

}
#btnDiv {
	text-align: center;
}
#btn {
	padding: 15px;
	width: 50%;
	background-color: #94A5D1;
	  color: white;

	border-radius: 5px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	font-size: 15px;
	font-family: 'Nunito', sans-serif;
	
/*     font-variant: small-caps; */
}
#usernameDiv {
	height: 130px;
}
#passwordDiv {
	height: 130px;
}
#confirmPasswordDiv {
	height: 130px;
}
#userErr {
	color: #BD4F6C;
	text-align: left;
}
#passErr {
	color:  #BD4F6C;
	text-align: left;
}
#confirmPassErr {
	color:  #BD4F6C;
	text-align: left;
}
#error {
	margin-top: 12px;
	color:  #BD4F6C;
	text-align: left;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: block;
}

.leftNav, .rightNav {
	max-width: 5%;
}
.rightNav {
	float: right;
}

#border {
	width: 100%;
	height: 1px;
	background: rgb(127, 127, 127);
}